<form #loginform="ngForm"(ngSubmit)="display()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email"[(ngModel)]="User.email" #email=ngModel [class.is-invalid]="email.touched&&email.invalid"pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required>
     <span class="text-danger" [class.d-none]="email.touched||email.valid">Email is not valid</span>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password"[(ngModel)]="User.password"#password="ngModel"[class.is-invalid]="password.touched&&password.invalid"minlength="8" required>
      <span class="text-danger" [class.d-none]="password.touched||password.valid">Password must be 8 characters</span>
    </div>
    
    <button type="submit"[disabled]="loginform.form.invalid" class="btn btn-primary">Submit</button>
  </form>
